@model H5pro.Models.MessageHandler

@{
    ViewBag.Title = "ReadMessage";
}

<h2>ReadMessage</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FromName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextMessage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Reply", "NewMessage", new {Id = Model.MessageID, From = Model.FromName, sub = Model.Sub} )
</p>
